@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

@font-face {
  font-family: "KIMM";
  src: url("/fonts/KIMM_Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "KIMM";
  src: url("/fonts/KIMM_Light.ttf") format("truetype");
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}
